{% extends layout %}

{% block content %}

<!-- Begin page content -->
<main role="main">

	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">Sobre nosotros</h1>
			<p class="lead text-muted">Nuestro objetivo es despertar tu creatividad e ingenio</p>
		</div>
	</section>

	<div class=" bg-light">
		<div class="container">

			<div class="row">

				<p>Somos una empresa pujante dedicada a la fabricación de juguetes didácticos con un toque nerd.</p>

			</div>

		</div>
	</div>

</main>

{% endblock %}