{% extends layout %}

{% block content %}

<!-- Begin page content -->
<main role="main" class="container">


	<section class="jumbotron text-center">
		<div class="container">
			<h1 class="jumbotron-heading">sToy Robot</h1>
			<p class="lead text-muted">Tus pequeños pueden aprender de robótica y programación con nuestros creativos juguetes de robots armables.</p>
			<p>
				<a href="/robots" class="btn btn-primary my-2">Nuestros kids</a>
				<a href="/nosotros" class="btn btn-secondary my-2">Sobre nosotros</a>
			</p>
		</div>
	</section>

	<h1 class="mt-5">Bienvenidos a nuestra pagina oficial</h1>
	<p class="lead">Aquí encontraras todo sobre nuestros productos, para tu hogar o instituto.</p>
	<p>No dudes en <a href="/contacto">consultarnos</a> por cualquier inquietud que tengas.</p>
</main>

{% endblock %}